<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
      name="HistoryExtractorConnectionString"
      connectionString="Data Source=localhost;Initial Catalog={0};User Id=sa;Password=**Labolge**;Max Pool Size=200;"
      providerName="System.Data.SqlClient" 
    />
  </connectionStrings>
  <appSettings>
    <add 
      key="1" 
      />
  </appSettings>
</configuration>
